.c1{
    text-align: center;
}
.h1{
    font-weight: bold;
    color: black;
    text-decoration: underline;
}
/* .win{
    color: green;
} */
#no-balloons{
    display: none;
    color: rgba(7, 234, 158, 0.895);
}
.balloons-div div{
    height: 100px;
    width: 100px;
    color: rgb(0, 255, 170);
    background-color: rgb(90, 115, 169);
    display: inline-block;
    border-radius: 100%;
}